* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

li {
  list-style: circle;
}

.navbar-custom {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245)); /* Cambia el color de fondo de la nav*/
}

.navbar-custom .navbar-toggler-icon {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245)); /* Cambia el color del icono de la hamburguesa */
}

li {
  list-style: none;
}

button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid violet;
  border-radius: 2px;
  background-color: #DCBFFF;
  color: white;
}
button:hover {
  background-color: #B264F7;
  color: white;
}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/la-verdadera.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#hero .container h1 {
  color: white;
}

#consultas .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/pexels-kate-trifo-6414318.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px 30px;
  margin-top: 20px;
}
#consultas .container h2 {
  color: white;
}
#consultas .container p {
  color: white;
}

#ubi .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/foto-hero-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 40px;
  margin-top: 20px;
}
#ubi .container h2 {
  color: white;
}

#beneficio1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
}
#beneficio1 .container li {
  list-style: circle;
}

#beneficio2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  padding: 20px;
  margin-left: 10px;
  background-color: white;
}
#beneficio2 .container li {
  list-style: circle;
}

#beneficio3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  padding: 20px;
  margin-left: 10px;
  background-color: white;
}
#beneficio3 .container li {
  list-style: circle;
}

#pulidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pulidos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}
#pulidos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trompa-jaguar.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
}
#tratamientos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ploteo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/ford-azul.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
}
#ploteo .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sucursal {
  background-image: linear-gradient(to bottom, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 60vh;
}
#sucursal .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacto {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
  color: white;
  height: 50vh;
}

#contacto .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#redes {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 40vh;
}
#redes .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}
#redes .container a {
  color: purple;
}

#productos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/productos-shampoo.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  padding: 30px 20px;
}
#productos .container .carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#utencilios .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/productos-spray.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  padding: 30px 20px;
}
#utencilios .container .carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#mayorista .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 30px 20px;
}

#trabajos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/capacitate.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#trabajos .container h1 {
  color: white;
}

#hecho-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tablero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-1 .container h2 {
  color: white;
}

#hecho-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hechos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-2 .container h2 {
  color: white;
}

#hecho-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/optica.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-3 .container h2 {
  color: white;
}

#hecho-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/motor.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 20px;
}
#hecho-4 .container h2 {
  color: white;
}

footer p {
  font-size: x-small;
  padding: 20px 10px;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
