* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

li {
  list-style: circle;
}

.navbar-custom {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245)); /* Cambia el color de fondo de la nav*/
}

.navbar-custom .navbar-toggler-icon {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245)); /* Cambia el color del icono de la hamburguesa */
}

li {
  list-style: none;
}

button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid violet;
  border-radius: 2px;
  background-color: #DCBFFF;
  color: white;
}
button:hover {
  background-color: #B264F7;
  color: white;
}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/la-verdadera.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#hero .container h1 {
  color: white;
}

#consultas .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/compu.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px 30px;
  margin-top: 20px;
}
#consultas .container h2 {
  color: white;
}
#consultas .container p {
  color: white;
}
#consultas .container a {
  color: #B264F7;
}

#ubi .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/foto-hero-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 40px;
  margin-top: 20px;
}
#ubi .container h2 {
  color: white;
}

#pregunta1 {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
}
#pregunta1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 20px;
  margin-top: 20px;
}
#pregunta1 li {
  list-style: circle;
}
#pregunta1 h3 {
  color: white;
}

#pregunta2 {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
}
#pregunta2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 20px;
}
#pregunta2 li {
  list-style: circle;
}
#pregunta2 h3 {
  color: white;
}

#pregunta3 {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
}
#pregunta3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 20px;
}
#pregunta3 li {
  list-style: circle;
}
#pregunta3 h3 {
  color: white;
}

#pregunta4 {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
}
#pregunta4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 20px;
}
#pregunta4 h3 {
  color: white;
}
#pregunta4 li {
  list-style: circle;
}
#pregunta4 p {
  color: black;
}

#pregunta5 {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
}
#pregunta5 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 20px;
}
#pregunta5 h3 {
  color: white;
}
#pregunta5 li {
  list-style: circle;
}
#pregunta5 p {
  color: black;
}

.edito1 {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(127, 245, 245));
}

#pulidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pulidos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 35px;
}
#pulidos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trompa-jaguar.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  padding-top: 35px;
}
#tratamientos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ploteo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/ford-azul.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
}
#ploteo .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#opcion {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
  color: white;
  height: 50vh;
}
#opcion .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#opcion a {
  color: #B264F7;
}

#sino {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 35vh;
}
#sino .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#sino a {
  color: #B264F7;
}

.edito {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
}

#sucursal {
  background-image: linear-gradient(to bottom, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 60vh;
  padding: 30px 20px;
}
#sucursal .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cita {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 40vh;
  padding-top: 60px;
}
#cita .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}

#redes {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
  color: white;
  height: 40vh;
}
#redes .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}
#redes .container a {
  color: #B264F7;
}

#contacto {
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
  color: white;
  height: 40vh;
}
#contacto .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
#contacto a {
  color: #B264F7;
}

.edito {
  background-image: linear-gradient(to top, rgb(127, 245, 245), rgb(221, 127, 245));
}

#productos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/productos-shampoo.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  padding: 30px 20px;
}
#productos .container .carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#utencilios .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/productos-spray.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  padding: 30px 20px;
}
#utencilios .container .carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#mayorista .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 30px 20px;
  background-image: linear-gradient(to top, rgb(221, 127, 245), rgb(127, 245, 245));
}
#mayorista .container h3 {
  color: white;
}

#trabajos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/capacitate.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#trabajos .container h1 {
  color: white;
}

#hecho-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tablero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-1 .container h2 {
  color: white;
}

#hecho-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hechos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-2 .container h2 {
  color: white;
}

#hecho-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/optica.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
  padding: 30px 20px;
  margin-top: 20px;
}
#hecho-3 .container h2 {
  color: white;
}

#hecho-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/motor.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 20px;
}
#hecho-4 .container h2 {
  color: white;
}

footer p {
  font-size: x-small;
  padding: 20px 10px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
