$color-nav : #E5D4FF;

$colores:(
    lila-claro: #E5D4FF,
    lila-medio: #DCBFFF,
    lila-oscuro: #D0A2F7,
);

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background ($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

/*HEADER*/

.navbar-custom {
    background-color: map-get($map: $colores, $key:lila-claro ); /* Cambia el color de fondo */
}


.navbar-custom .navbar-toggler-icon {
    background-color: map-get($map: $colores, $key:lila-claro ); /* Cambia el color del icono de la hamburguesa */
}


li{list-style: none;}





/* INDEX */

#hero h1 {color: white;}
#hero .container{
    @include flex(column,center,center);
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/la-verdadera.jpg);
   @include background(cover,center center,no-repeat);
}

#consultas h2 {color: white;}
#consultas p {color: white;}
#consultas .container{
    @include flex(column,center,center);
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/pexels-kate-trifo-6414318.jpg);
    @include background(cover,center center,no-repeat);
    padding: 10px 30px;
    margin-top: 20px;
}


#ubi h2 {color: white;}
#ubi .container{
    @include flex(column,center,center);
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/foto-hero-3.jpg);
    @include background(cover,center center,no-repeat);
    padding: 20px 40px;
    margin-top: 20px;
}

#beneficio1 li {list-style: circle;}
#beneficio2 li{list-style: circle;}
#beneficio3 li{list-style: circle;}
#beneficio1 .container{
    @include flex(column,center,center);
    height: 35vh;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    
}

#beneficio2 .container{
    @include flex(column,center,center);
    height: 35vh;
    padding: 20px;
    background-color: white;
    
}

#beneficio3 .container{
    @include flex(column,center,center);
    height: 35vh;
    padding: 20px;
    background-color: white;
    
}

/*SERVICIOS*/


#pulidos{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
     )
     ,url(../images/foto-hero.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
}

#tratamientos{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
     )
     ,url(../images/trompa-jaguar.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;
}

#ploteo{
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
     )
     ,url(../images/pexels-erik-mclean-5610186.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;
}
#ploteo .container{
    @include flex(column,center,center);
}
#ploteo button{
    margin-left: 32px;
}

/*SUCURSAL*/

#sucursal{
    background-color: map-get($map: $colores, $key:lila-medio);
    color: white;
    height: 60vh;
}
#sucursal .container{
    @include flex(column,center,center);
}

/*CONTACTO*/

#contacto{
    background-color: map-get($map: $colores, $key:lila-medio);
    color: white;
    height: 50vh;
}
#contacto .container{
    @include flex(column,center,center);
    padding: 50px;
}

#redes{
    background-color: #D0A2F7;
    color: white;
    height: 30vh;
}
#redes .container{
    @include flex(column,center,center);
    padding: 25px 20px;
}
#redes a{color: purple;}

/*PRODUCTOS*/

#productos .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/productos-shampoo.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;
    padding: 30px 20px;
}

#utencilios .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/productos-spray.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;
    padding: 30px 20px;
}

.carta{
    @include flex(column,center,center);
    padding: 30px;
}

/*HECHOS*/

#trabajos .container{
    @include flex(column,center,center);
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/capacitate.jpg);
    @include background(cover,center center,no-repeat);
}
#trabajos h1{color: white;}

#hecho-1 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/tablero.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-2 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/hechos.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-3 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/optica.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-4 .container{
    @include flex(column,center,center);
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/motor.jpg);
    @include background(cover,center center,no-repeat);
    margin-top: 20px;
}
#hecho-4 h2{color:white;}

/*Footer*/

footer p{
    font-size: x-small;
    font-weight: bold;
    padding: 20px 10px;
    color: black;

}