.navbar-custom {
    background-image: linear-gradient(to top,  rgb(221, 127, 245),rgb(127, 245, 245));/* Cambia el color de fondo */
}

.navbar-custom .navbar-toggler-icon {
    background-color: $color-nav; /* Cambia el color del icono de la hamburguesa */
}

li{list-style: none;}
