$celestin : rgb(127, 245, 245);
$lila :  rgb(221, 127, 245);

.navbar-custom {
    background-image: linear-gradient(to top, $lila, $celestin);/* Cambia el color de fondo de la nav*/
}

.navbar-custom .navbar-toggler-icon {
    background-image: linear-gradient(to top, $lila, $celestin); /* Cambia el color del icono de la hamburguesa */
}

li{list-style: none;}
