@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background ($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}


#trabajos .container{
    @include flex(column,center,center);
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../images/capacitate.jpg);
    @include background(cover,center center,no-repeat);
}
#trabajos h1{color: white;}

#hecho-1 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../images/tablero.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-2 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../images/hechos.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-3 .container{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../images/optica.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    height: 80vh;
    padding: 30px 20px;
    margin-top: 20px;
}

#hecho-4 .container{
    @include flex(column,center,center);
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../images/motor.jpg);
    @include background(cover,center center,no-repeat);
    margin-top: 20px;

    h2{color:white;}
}

