@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$celestin : rgb(127, 245, 245);

$lila :  rgb(221, 127, 245);

$colores:(
    lila-claro: #E5D4FF,
    lila-medio: #DCBFFF,
    lila-oscuro: #D0A2F7,
    violetita: #B264F7,
    blanco: white,
);

#redes{
    background-image: linear-gradient(to top, $celestin, $lila) ;
    color: map-get($map: $colores, $key: blanco);
    height: 40vh;

    .container{
    @include flex(column,center,center);
    padding: 25px 20px;
   
    a{
        color: map-get($map: $colores, $key:violetita);
    } 

    }
}

#contacto{
    background-image: linear-gradient(to top, $lila, $celestin);
    color: map-get($map: $colores, $key: blanco);
    height: 40vh;

    .container{
        @include flex(column,center,center);
        padding: 50px;
    }

    a{
        color: map-get($map: $colores, $key:violetita);
    }
}

.edito{
    background-image: linear-gradient(to top, $celestin, $lila);   
}