@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin background ($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

$colores:(
    lila-claro: #E5D4FF,
    lila-medio: #DCBFFF,
    lila-oscuro: #D0A2F7,
    violetita: #B264F7,
    blanco: white,
);

#hero .container{
    @include flex(column,center,center);
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url(../images/la-verdadera.jpg);
    @include background(cover,center center,no-repeat);

    h1 {
        color: map-get($map: $colores, $key:blanco);
    }
}

#consultas .container{
    @include flex(column,center,center);
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    )
    ,url(../images/compu.jpg);
    @include background(cover,center center,no-repeat);
    padding: 10px 30px;
    margin-top: 20px;

    h2 {
        color: map-get($map: $colores, $key:blanco);
    }

    p{
        color: map-get($map: $colores, $key:blanco);
    }

    a{
        color: map-get($map: $colores, $key:violetita);
    }
}


#ubi .container{
    @include flex(column,center,center);
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/foto-hero-3.jpg);
    @include background(cover,center center,no-repeat);
    padding: 20px 40px;
    margin-top: 20px;

    h2 {
        color: map-get($map: $colores, $key:blanco);
    }
}

$celestin : rgb(127, 245, 245);

$lila :  rgb(221, 127, 245);


#pregunta1{
    background-image: linear-gradient(to top, $celestin, $lila);

    .container{
        @include flex(column,center,center);
        height: 30vh;
        padding: 20px;
        margin-top: 20px;
    }

    li {list-style: circle;}

    h3{color: map-get($map: $colores, $key:blanco);}

}



#pregunta2{
    background-image: linear-gradient(to top, $lila, $celestin);

    .container{
        @include flex(column,center,center);
        height: 30vh;
        padding: 20px;
    }

    li {list-style: circle;}

    h3{color: map-get($map: $colores, $key:blanco);}

}


#pregunta3{
    background-image: linear-gradient(to top, $celestin, $lila);

    .container{
        @include flex(column,center,center);
        height: 30vh;
        padding: 20px;
    }

    li {list-style: circle;}

    h3{color: map-get($map: $colores, $key:blanco);}

}

#pregunta4{
    background-image: linear-gradient(to top, $lila, $celestin);

    .container{
        @include flex(column,center,center);
        height: 30vh;
        padding: 20px;
    }

    h3{color: map-get($map: $colores, $key:blanco);}

    li {list-style: circle;}

    p{color: black;}

}

#pregunta5{
    background-image: linear-gradient(to top, $celestin, $lila);

    .container{
        @include flex(column,center,center);
        height: 30vh;
        padding: 20px;
    }

    h3{color: map-get($map: $colores, $key:blanco);}

    li{list-style: circle;}

    p{color: black;}

}

.edito1{
    background-image: linear-gradient(to top, $celestin, $celestin);   
}