@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin background ($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

#pulidos{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.4),
         rgba(0,0,0,0.4)
     )
     ,url(../images/pulidos.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    padding-top: 35px;

    .container{
        @include flex(column,center,center);
    }
}

#tratamientos{
    @include flex(column,center,center);
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.2),
         rgba(0,0,0,0.2)
     )
     ,url(../images/trompa-jaguar.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;
    padding-top: 35px;

    .container{
        @include flex(column,center,center);
    }
}

#ploteo{
    background-image:
    linear-gradient(
         0deg,
         rgba(0,0,0,0.2),
         rgba(0,0,0,0.2)
     )
     ,url(../images/ford-azul.jpg);
    @include background(cover,center center,no-repeat);
    color: white;
    margin-top: 20px;

    .container{
        @include flex(column,center,center);
    }
}

$celestin : rgb(127, 245, 245);

$lila :  rgb(221, 127, 245);


#opcion{
    background-image: linear-gradient(to top, $celestin, $lila);
    color: map-get($map: $colores, $key: blanco);
    height: 50vh;

    .container{
        @include flex(column,center,center);
        padding: 50px;
    }

    a{
        color: map-get($map: $colores, $key:violetita);
    }
}

#sino{
    background-image: linear-gradient(to top, $lila, $celestin);
    color: map-get($map: $colores, $key: blanco);
    height: 35vh;

    .container{
        @include flex(column,center,center);
        padding: 50px;
    }

    a{
        color: map-get($map: $colores, $key:violetita);
    }
}

.edito{
    background-image: linear-gradient(to top, $celestin, $lila);   
}